/* style.css */
iframe {
    /* size */
    width: 100vw;
    height: 100vw;
    /* x.x% of the screen width with a black solid line */
    /* border: 0.1vw solid black; */
    border: 2px solid black;
}